includes:
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: 4
    paths:
        - api
        - config
        - public
    excludePaths:
        - tests/**
    stubFiles:
        - .stubs/Model.stub
        - .stubs/EloquentBuilder.stub
        - .stubs/QueryBuilder.stub
    bootstrapFiles:
        - vendor/autoload.php
    reportMaybesInPropertyPhpDocTypes: false
    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$password#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$id#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$username#'
